
@charset "uat-8";
:root
{
    --txt-color:#4c4c4c;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Tammudu 2', cursive;
    box-sizing: border-box;
    scroll-behavior: smooth;
}.logo
{
   display: flex;
   justify-content: center;
   margin-top: 10%;
    
}
.bar
{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin-top: 2%;
    font-family: 'Baloo Tammudu 2', cursive;
   
}
.n
{
    text-decoration: none;
    color:var(--txt-color) ;
}

.img
{
   background-image: url(/images/6a.jpg);
   height: 80vh;
   width: 95%;
   margin-left: 2%;
  
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Baloo Tammudu 2', cursive;
   color: white;
   letter-spacing: 2px;
   word-spacing: 10%;

}
.a 
{
padding-top: 15%;
margin-left: 10%;
font-size: 20px;
font-weight: 200;
word-spacing: 10%;

}
.b 
{
    margin-left: 10%;
    font-size: 60px;
    font-weight: 400;
    word-spacing: 10%;
}
.next
{
    width:10px;
    height: 10px;
   
}
.about
{
    display: flex;
    
    font-family: 'Baloo Tammudu 2', cursive;
    margin-left: 2%;
    font-size: 13px;
font-weight: 100;
word-spacing: 10%;
margin-top: 5%;

}
.hashim
{
    margin-top: 1%;
}
.ab 
{
    color: #e9007f;
}
.ba 
{
  margin-left: 50%;
  height: 10vh;
}
.every
{
    font-family: 'Baloo Tammudu 2', cursive;
  
    font-size: 22px;
font-weight: 200;
word-spacing: 10%;
text-align: center;
padding: 2%;
}
.qu
{
    font-size: 25px;
    font-weight: 300;
}
.gl 
{
    display: flex;
    align-items: flex-start;
}
.par
{
    font-size: 16px;
    font-weight: 250;
    /* word-spacing: 10%; */
    
    line-height: 1.2;
    
    margin: 0 0 30px;
    /* text-align: center; */
    padding: 2%;
    color: #023f97;
    background-color: #f5f6fa;
    height: 100vh;
    
}
.h 
{
    font-size: 30px;
    font-weight: 350;
    
}
.nex 
{
    display: flex;
    margin-top: 5%;
    padding: 2%;
    
    
}
.bodyy
{
    /* font-family: 'Baloo Tammudu 2', cursive; */
 
    font-size: 17px;
font-weight: 200;

text-align: center;
color: white;
background-color: #4c85c0;
padding: 5%;
height: 100vh;
background-size: 100%;


}

.nextt
{
    /* font-family: 'Baloo Tammudu 2', cursive; */
 
    font-size: 30px;
font-weight: 300;
text-align: start;
}
.but 
{
margin-top: 80%;
text-align: center;
word-spacing: 5px;
width: 70%;
height: 7vh;
font-family: 'Baloo Tammudu 2', cursive;
 
    font-size: 17px;
font-weight: 200;
color: white;
background-color: #0051a6;
border: none;
border-radius: 5px;


}
.but:hover
{
    background-color: #e84393;
}
.ima
{
    width: 65%;
    height: 99.5vh;
}
.nexx
{
    display: flex;
    margin-top: 5%;
    padding: 2%;
    
    
}
.bodyyy
{
    /* font-family: 'Baloo Tammudu 2', cursive; */
 
    font-size: 17px;
font-weight: 200;

text-align: center;
color: white;
background-color: #f04ca5;
padding: 5%;
height: 100vh;
background-size: 100%;


}

.nexttt
{
    /* font-family: 'Baloo Tammudu 2', cursive; */
 
    font-size: 30px;
font-weight: 300;
text-align: start;
}
.butt 
{
margin-top: 80%;
text-align: center;
word-spacing: 5px;
width: 70%;
height: 7vh;
font-family: 'Baloo Tammudu 2', cursive;
 
    font-size: 17px;
font-weight: 200;
color: white;
background-color: #e84393;
border: none;
border-radius: 5px;


}
.butt:hover
{
    background-color: #f00d7b;
}
.imaa
{
    width: 65%;
    height: 99.5vh;
}
.full
{
    background-color: #4c85c0;
    padding: 10%;
    color: white;
}
.bro 
{
    /* font-family: 'Baloo Tammudu 2', cursive; */
 margin-bottom: 10%;
    font-size: 40px;
font-weight: 500;
    text-align: center;
    color: white;
}
.icons
{
display: flex;
justify-content: space-around;
align-self: center;

height: 14vh;

}
.ki
{
    margin-top: 2%;
    height: 10vh;
}
.botm
{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 15px;
    font-weight: 150;
}
.u 
{
    font-family: 'Baloo Tammudu 2', cursive;
    
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 5%;
}
.fully
{
    padding: 2%;
}
.find
{
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-top: 5%;
   
}
.t 
{
    color: white;
    text-decoration: none;
}
.t:hover{
    color: white;
}
.footer
{
    background-image: url(/images/m-2-footer-desktop.png);
    background-repeat: no-repeat;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
   
   font-size: 12px;
   color: white;
   margin-top: 5%;
}
.asi 
{
    margin-top: 5%;
    text-decoration: none;
    color: white;
   
}
.asi:hover
{
    color: white;
}

/* .ico {
    display: flex;
    
    justify-items: end;
} */
/* .end
{
    background-image: url(/images/m-2-footer-desktop.png);

} */
